<script lang="ts">
    import { writeText } from "@tauri-apps/api/clipboard";
    import { invoke } from "@tauri-apps/api/tauri";
    import { writeImage } from "tauri-plugin-clipboard-api";

    export let items: string[][];
    export let hidden_items: string[][];
    let search = "";
    function saveData(type: string, item: string) {
        invoke("write_saved", {
            dataType: type,
            value: item,
        });
    }

    function resetItems() {
        invoke("get_data").then((message: string[][]) => {
            items = message;
        });
    }
    function displayItem(displayItem: string): string {
        for (let i = 0; i < hidden_items.length; i++) {
            displayItem = displayItem.replaceAll(
                hidden_items[i][1],
                hidden_items[i][0]
            );
        }
        return displayItem;
    }
</script>

<div>
    <input
        type="search"
        placeholder="Search"
        on:keyup={() => {
            if (search === "") {
                resetItems();
            }
        }}
        bind:value={search}
    />
    {#each items.sort((a, b) => {
        if (displayItem(b[1]).toLowerCase().includes(search.toLowerCase())) {
            return 1;
        }

        if (displayItem(a[1]).toLowerCase().includes(search.toLowerCase())) {
            return -1;
        }
        return 0;
    }) as item}
        {#if item[0] === "text"}
            <button
                on:click={() => {
                    writeText(item[1]);
                }}
            >
                {displayItem(item[1])}
            </button>
            <button class="save" on:click={() => saveData(item[0], item[1])}
                >Save</button
            >
        {:else if item[0] === "image"}
            <button
                on:click={() => {
                    writeImage(item[1]);
                }}
                style="background-size: 100%; background-image: url('data:image/png;base64,{item[1]}'); color: transparent;"
            >
                hi
            </button>
            <button class="save" on:click={() => saveData(item[0], item[1])}
                >Save</button
            >
        {/if}
    {/each}
</div>

<style>
    button {
        margin-top: 0.3em;
        width: 70vw;
        height: 6vh;
        overflow: hidden;
        padding: 0.1rem;
        text-align: left;
        white-space: nowrap;
        font-size: 15px;
    }
    .save {
        width: 2.8em;
        text-align: center;
    }
</style>
