<script lang="ts">
    import { invoke } from "@tauri-apps/api/tauri";
    import { onMount } from "svelte";
    import { writeText } from "@tauri-apps/api/clipboard";
    import { writeImage } from "tauri-plugin-clipboard-api";
    export let hidden_items: string[][];

    function displayItem(displayItem: string): string {
        for (let i = 0; i < hidden_items.length; i++) {
            displayItem = displayItem.replaceAll(
                hidden_items[i][1],
                hidden_items[i][0]
            );
        }
        return displayItem;
    }
    let items = [["text", "Begin Copying"]];

    function delSaved(item: string) {
        invoke("delete_saved", {
            value: item,
        }).then((message: string[][]) => {
            items = message;
        });
    }

    onMount(() => {
        invoke("get_saved").then((message: string[][]) => {
            items = message;
        });
    });
</script>

<div>
    {#each items as item}
        {#if item[0] === "text"}
            <button
                on:click={() => {
                    writeText(item[1]);
                }}
            >
                {displayItem(item[1])}
            </button>
            <button class="delete" on:click={() => delSaved(item[1])}>X</button>
        {:else if item[0] === "image"}
            <button
                on:click={() => {
                    writeImage(item[1]);
                }}
                style="background-size: 100%; background-image: url('data:image/png;base64,{item[1]}'); color: transparent;"
            >
                hi
            </button>
            <button class="delete" on:click={() => delSaved(item[1])}>X</button>
        {/if}
    {/each}
</div>

<style>
    button {
        margin-top: 0.3em;
        width: 70vw;
        height: 6vh;
        overflow: hidden;
        padding: 0.1rem;
        text-align: left;
        white-space: nowrap;
        font-size: 15px;
    }
    .delete {
        width: 2.8em;
        text-align: center;
    }
</style>
