<script lang="ts">
    import { invoke } from "@tauri-apps/api/tauri";
    import { onMount } from "svelte";
    let key: string;
    let value: string;
    export let hidden_items: string[][];

    function delHidden(item: string) {
        invoke("delete_hidden", {
            value: item,
        }).then((message: string[][]) => {
            hidden_items = message;
        });
    }
    function addHidden(key: string, item: string) {
        invoke("write_hidden", {
            display: key,
            value: item,
        }).then((message: string[][]) => {
            hidden_items = message;
        });
    }

    onMount(() => {
        invoke("get_hidden").then((message: string[][]) => {
            hidden_items = message;
        });
    });
</script>

<!-- <button class="main-btn">Set Keybinding</button> -->
<div>
    <input bind:value={key} type="text" placeholder="Replacement" />
    <input bind:value type="password" placeholder="Hidden Value" />
    <button on:click={() => addHidden(key, value)} class="submit-btn"
        >Hide Item</button
    >
    {#each hidden_items as item}
        <button
            on:click={() => {
                delHidden(item[1]);
            }}
            class="main-btn delete">{item[0]}</button
        >
    {/each}
</div>

<style>
    .main-btn {
        width: 80vw;
        height: 4em;
        margin: 0.7em;
        font-size: large;
        padding: 0;
    }

    input {
        width: 6em;
        height: 2.6em;
        padding: 7.8px, 15px;
    }
    .submit-btn {
        padding: 7.8px, 15px;
        height: 4em;
    }
</style>
