<script lang="ts">
    import {
        TEXT_CHANGED,
        IMAGE_CHANGED,
        listenText,
        listenImage,
    } from "tauri-plugin-clipboard-api";

    import { listen, type UnlistenFn } from "@tauri-apps/api/event";
    import { register } from "@tauri-apps/api/globalShortcut";
    import { invoke } from "@tauri-apps/api/tauri";
    import ClipboardItems from "./lib/ClipboardItems.svelte";
    import { appWindow, LogicalPosition } from "@tauri-apps/api/window";
    import { onMount, onDestroy } from "svelte";
    import Settings from "./lib/Settings.svelte";
    import Saved from "./lib/Saved.svelte";
    let unlisten: UnlistenFn;
    let hidden_items: string[][] = [["password", "password"]];
    let items = [["text", "Begin Copying"]];
    let settings = false;
    let saved = false;
    async function prepare() {
        unlisten = await appWindow.onFocusChanged(({ payload: focused }) => {
            console.log("Focus changed, window is focused? " + focused);
            if (!focused) {
                appWindow.hide();
            }
        });
        register("Shift+space", () => {
            console.log("Shortcut triggered");
            invoke("get_coords").then((message) => {
                console.log(message);
                appWindow.setPosition(
                    new LogicalPosition(message[0], message[1])
                );
            });

            appWindow.show();
            appWindow.setFocus();
        });
    }
    function stopListening() {
        imageUnlisten();
        textUnlisten();
        tauriTextUnlisten();
        tauriImageUnlisten();
    }
    let listenTextContent = "";
    let listenImageContent = "";
    let tauriTextUnlisten: UnlistenFn;
    let tauriImageUnlisten: UnlistenFn;

    let textUnlisten: () => void;
    let imageUnlisten: () => void;

    export async function startListening() {
        tauriTextUnlisten = await listen(TEXT_CHANGED, (event) => {
            listenTextContent = (event.payload as any).value;
            invoke("write_data", {
                dataType: "text",
                value: listenTextContent,
            }).then((message: string[][]) => {
                items = message;
            });
        });
        tauriImageUnlisten = await listen(IMAGE_CHANGED, (event) => {
            listenImageContent = (event.payload as any).value;
            invoke("write_data", {
                dataType: "image",
                value: listenImageContent,
            }).then((message: string[][]) => {
                items = message;
            });
        });
        imageUnlisten = listenImage();
        textUnlisten = listenText();
    }

    onMount(() => {
        prepare();
        startListening();
        invoke("get_data").then((message: string[][]) => {
            items = message;
        });
    });
    onDestroy(() => {
        unlisten();
        stopListening();
    });
</script>

<main class="container">
    <div class="row">
        <button
            on:click={() => {
                settings = !settings;
                saved = false;
            }}>{settings ? "Back" : "Settings"}</button
        >
        <button
            on:click={() => {
                settings = false;
                saved = !saved;
            }}>{saved ? "Back" : "Saved"}</button
        >
    </div>
    <div class="row">
        <p />
    </div>
    {#if settings}
        <div class="row">
            <Settings bind:hidden_items />
        </div>
    {:else if saved}
        <Saved bind:hidden_items />
    {:else}
        <div class="row">
            <ClipboardItems bind:items bind:hidden_items />
        </div>
    {/if}
</main>

<style>
    button {
        margin-right: 1rem;
    }
</style>
