:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
:root::-webkit-scrollbar { 
    color: rgb(255, 255, 255);
    border: solid 2px rgba(255, 255, 255, 0);
    border-radius: 6px ;
    width: 10px;
}
:root::-webkit-scrollbar-corner { 
    color: rgb(255, 255, 255);
    border: solid 2px rgba(255, 255, 255, 0);
    border-radius: 6px ;
    width: 10px;
}
:root::-webkit-scrollbar-thumb  { 
    color: rgb(255, 255, 255);
    background-color: rgba(138, 0, 0, 0.452);
    border-radius: 6px ;
    width: 10px;
    height: 1px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}


.row {
  display: flex;
  justify-content: center;
}




input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.delete {
    color: #ff000081;
}
.delete:hover {
    background-color: #ff000060;
    transition: background-color 1s;
    box-shadow: none;
}
.save {
    color: #006eff81;
}
.save:hover {
    border-color: #0084ffde;
    background-color: #0084ff60;
    transition: background-color 1s;
    box-shadow: none;
}
button {
  cursor: pointer;
}

button:hover {
  border-color: #e60808;
  box-shadow: 0 0 10px 5px #ff0000;
  transition: box-shadow 2s

}
button:active {
  border-color: #ff0000;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
  transition-duration: 1s;  

}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }


  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #000000;
  }
}
